/* Custom CSS for HS */

body {
    font-family: 'Lato', arial, sans-serif;
    color: #434343;
    background: #dae3e7;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3 { /* Bold or not?*/
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #778492;
}

/* ==== Header ==== */
.header {
    padding: 30px 0;
    background: #f5f5f5;
    border-top: 10px solid #778492;
}
.header .header-image {
    margin-right: 21px;
}
.header .header-content .title {
    color: #49515a;
    font-size: 38px;
    margin-bottom: 9px; /* was 5 */
    margin-top: 30px;
}
.header .header-content .trip-status {
    background: #DAE8EF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0.5em;
    display: inline-block;
}
.row .app-download-images {
    padding: 5px;
    width: 115px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.answer-image { /* For images in the <p> of the response to the subtitles/questions */
    padding-top:5px;
    padding-bottom:5px;
    display: block;
    margin: 0 auto;
}
#original-panel {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

#findingStuff2 {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.fa-arrow-circle-right {
    margin-right:8px;
    float:left;
}
.subtitle-toggle {
    text-decoration: underline;
}
.subtitle-toggle:hover {
    color: #778492;
}
.hidden-text {
    display: none;
    background: #DAE8EF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0.5em;
}
.footer {
    color: gray;
    font-size: 12px;
    text-align: center;
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .header {
    text-align: center;
  }
  .header .header-image {
    float: none !important;
    margin: 0 auto;
  }
  .header .header-content {
    float: none !important;
    text-align: center;
  }
 }

@media (min-width: 1400px) {
  .container {
    width: 1360px;
  }